---
---

@import "{{ site.theme }}";

  .sidebar {
    ul {
      li {
        padding-bottom: 8px;
      }
    }
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
    padding-right: 10px;
  }

  @media screen and (max-width: 1060px) {
    .sidebar {
      display: none;
    }
  }
  @media screen and (min-width: 1060px) {
    .sidebar {
      display: block;
    }
  }

  #unsupported,#not-allowed {
    color: red;
  }

  #installer {
    color: white;
    border: 1px solid #796641;
    background: linear-gradient(#bd8926, #c66108);
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);

    background-color: #93bd20;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    display:inline-block;
    text-align:center;
  }

  ol {
    li {
      padding-left: 10px;
      ul {
        margin-bottom: 0px;
        li {
          padding-left: 3px;
        }
      }
    }
  }
  
  #header {
 
    nav {

      max-width: unset;

      ul {

        li.fork {
          margin-left: 6px;
        }
  
        li {

          a {
            color: white;
            border: 1px solid #796641;
            background: linear-gradient(#bd8926, #c66108);
            border-radius: 2px;
            box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);
  
            background-color: #93bd20;
            padding: 10px 12px;
            margin-top: 6px;
            line-height:14px;
            font-size:14px;
            display:inline-block;
            text-align:center;
  
            &:hover {
              background: linear-gradient(#964e19, #ff960f);
              background-color: #964e19;
              border: 1px solid #964e19;
              box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
            }
          }
        }
      }
    }
  }
  
  